/* app css stylesheet */

html {
  height: 100%;
  width: 100%;
}

body {

}

footer {
  margin-top: 30px;
  padding: 10px;
  text-align: right;
  background-color: white;
  opacity: .85;
}

img {
  border-radius: 10%;
}


.foursquare-box, .twitter-box, .instagram-box, .wikipedia-box {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.foursquare-box {
  background-color: yellow;
  height: 100px;
}

.twitter-box {
  background-color: #009900;
  height: 300px;
}

.wikipedia-box {
  background-color: #0099FF;
  height: 300px;
}

.instagram-box {
  background-color: #660033;
  height: 200px;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

